
.fullslide-html {
    overflow: hidden;
    width: 100%;
}

.fullslide-body{
    height: 100%;
    position: fixed;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.fullslide {
    overflow: hidden;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    &__page{
        height: 100%;
        width: 100%;
        &--center{
            display: flex;
            align-items: center;
        }
    }
}